:root {
    background-color: #ffff55;
    --cell-size: 1.75;
    --open-color: #e4e4e4;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    height: calc(var(--cell-size)*1em);
    width: calc(var(--cell-size)*1em);
}

.mine_0 {
    color: #e4e4e4;
    background-color: var(--open-color);
}

.mine_1 {
    color: #0000ff;
    background-color: var(--open-color);
}

.mine_2 {
    color: #008200;
    background-color: var(--open-color);
}

.mine_3 {
    color: #fe0000;
    background-color: var(--open-color);
}

.mine_4 {
    color: #000084;
    background-color: var(--open-color);
}

.mine_5 {
    color: #840000;
    background-color: var(--open-color);
}

.mine_6 {
    color: #008284;
    background-color: var(--open-color);
}

.mine_7 {
    color: #840084;
    background-color: var(--open-color);
}

.mine_8 {
    color: #757575;
    background-color: var(--open-color);
}

.mine {
    background-color: #ff5555;
}

.hidden_cell {
    color: #000000;
    background-color: #c6c6c6;
}

.flag {
    color: #000000;
}